# Step 1: Define workflow name.
name: SAST

# Step 2: Choose workflow triggers
on:
  push:                  # Trigger on push events
  workflow_dispatch:     # Trigger manually via GitHub UI
  workflow_call:         # Triggered by other workflows
  pull_request:          # Trigger on pull requests

# Step 3: Define jobs: a set of steps executed on a VM
jobs:
  semgrep_actions:               # Job ID
    permissions: write-all       # Needed to upload SARIF results
    name: Semgrep                # Display name of the job
    runs-on: ubuntu-latest       # OS for the runner (Linux recommended)

    # Run job inside a container
    container:
      image: returntocorp/semgrep   # Official Semgrep image

    # Step 4: Define workflow steps
    steps:
      - name: Checkout code           # Step 1: Checkout repo
        uses: actions/checkout@v3

      - name: Run Semgrep analysis     # Step 2: Run scan
        run: semgrep scan --sarif --sarif-output=semgrep.sarif --error
        # Alternative non-blocking mode:
        # semgrep scan --sarif --sarif-output=semgrep.sarif || true

      - name: Upload SARIF file to GitHub   # Step 3: Upload results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
        if: always()
